<!DOCTYPE html>
<html>
<head>
	<title>Importar</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<style type="text/css">
		#file_import
		{
			border-style: solid;
			margin-top: 5%;
			text-align: center;			
		}
	</style>
<div class="container">
	<nav class="navbar navbar-expand-lg">
  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="nav justify-content-center">
		            <li class="nav-item">
		              <%= link_to "Inicio", products_path, class:"nav-link"%>
		            </li>
		             <li class="nav-item">
		             <%= link_to "Crear", new_product_path, class:"nav-link"%>
		            </li>
		            <li class="nav-item">
		              <%= link_to "Descargar Productos", products_path, class:"nav-link"%>
		            </li>
		            <li>
		                <%= link_to('Subir Archivos',  import_path, class:"nav-link")%>
		            </li>
		            <li>
		                <%= link_to('Cerrar Session',  destroy_user_session_path, :method => 'delete', class:"nav-link")%>
		            </li>
		    </ul>
			<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
 		</div>
	</nav>
        <div id="file_import">
        	<h1>Importar Productos</h1>
        	<p>NOTA IMPORANTE</p>
        	<P>ES PERMITIDO SOLAMENTE ENVIAR LOS SIGUIENTES FORMATOS</P>
        	<p> (*) .xlsx  (*) .xlsm  (*) .ods  (*) .xls  (*) .xml</p>
        	<br>
		      <%= form_tag import_from_file_products_path, multipart: true do %>
		        <%= file_field_tag :file , style: 'margin-bottom: 20px;'%>
		        <%= submit_tag "Import"	, class:'btn btn-outline-primary' %>
		      <% end %>
        </div>
</div>
</body>
</html>